<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <link rel="stylesheet" href="/css/styleimg.css"/>
    <link rel="stylesheet" href="/css/styles.css" />
    </head>
          <!-- -------Header-------------- -->
{{>header}}
<!-- ------------------------galeria-------------------- -->
<div class="gallery">
    {{#each results}}
  <div class="img-card">
    <img src={{url}} alt="">
  </div>
  {{/each}}
</div>

<div class="modal">
  <span class="close">x</span>
  <img src="" alt="" id="myModalImg">
    <div class="caption-text"></div>
     <div class="lists">
      {{#each results}}
       <img src={{url}} alt="">
      {{/each}}
  </div>
</div>

{{>footer}}
<script src="/public/js/appgallery.js"></script>


    </body>
</html>