.navbar-brand{
    background-image: url("../img/logo.jpg");
}
.container-fluid{
    background-color: #1b2a4e;
    color: white;
}
.navbar-toggler-icon{
    background-color: #5b8bfa;
}
.carousel-inner{
    max-height: 35rem;
}

@media(max-width: 768px){
    #intro{
        width: 90%;
    }
    #bg-contacto{
        top: -110px;
    }
}

@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin:auto;
        padding-top: 50pxS;
    }
}
.mapa{
    background: url(../img/mapa.JPG);
    width: 100%;
    height: 500px;
}
#local{
    background: #f3f3f3;
    padding-bottom: 300px;
    display:flex;
    justify-content: center;
}
.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}
#bg-contacto{
    position: relative;
    top: -130px;

}
#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}
#contenedor-formulario{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}
#titulo-formulario{
    color: #3f3f3f;
}
footer{
    background: #1b2a4e;
    min-height: 100px;
}
footer p{
    color: #f3f3f3;
    text-align: center;
}#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}





/*Estilos de la galeria*/

.galeria {
    font-family: open sans-serif;
    }
    
    .galeria h1{
      text-align: center;
      margin: 20px 0 15px;
      font-weight: 300;
    }
    
    .galeria h2{
      text-align: center;
      margin: 20px 0 15px;
      font-weight: 300;
      font-size: 15;
    }
    
    .linea{
      border-top: #04273d;
      margin-bottom: 40px;
    }
    
    .contenedor-imagenes{
      display: flex;
      width: 85%;
      margin: auto;
      justify-content: space-around;
      flex-wrap: wrap;
      border-radius: 3px;
    }
    
    .contenedor-imagenes .imagen{
      width: 32%;
      position: relative;
      height: 250px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0, .75);
    }
    
    .imagen img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    
    }
    
    .overlay{
      position: absolute;
      bottom: 0;
      left: 0;
      background: #04273db8;
      width: 100%;
      height: 0%;
      overflow: hidden;
      transition: .5s ease;
    }
    
    .overlay h2{
      color:#ffff;
      font-weight: 300;
      font-size: 30px;
      position: absolute;
      top:50%;
      left:50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
    
    .imagen:hover .overlay{
      height: 100%;
      cursor: pointer;
    }
    
    @media screen and (max-width:1000px){
      .contenedor-imagenes{
        width: 95%;
    
      }
    }
    
    @media screen and (max-width:700px){
      .contenedor-imagenes{
        width: 90%;
      }
      .contenedor-imagenes .imagen{
        width: 48%;
      }
    }
    
    @media screen and (max-width:450px){
      h1{
        font-size: 22px;
      }
      .contenedor-imagenes{
        width: 98%;
      }
      .contenedor-imagenes .imagen{
        width: 80%;
      }
    }
    
    .galeria li {
      margin: 5px;
    }
    
    .galeria img {
      width: 150px;
      height: 100px;
    }
    
    /*Estilos del modal*/
    
    *.modal {
      display: none;
    }
    
    .modal:target {
      
      display: block;
      position: fixed;
      background: rgba(0,0,0,0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .modal h3 {
      color: #fff;
      font-size: 30px;
      text-align: center;
      margin: 15px 0;
    }
    
    .imagen {
      width: 100%;
      height: 50%;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .imagen a {
      color: #fff;
      font-size: 40px;
      text-decoration: none;
      margin: 0 10px;
    }
    
    .imagen a:nth-child(2) {
      margin: 0;
      height: 100%;
      flex-shrink: 2;
    }
    
    .imagen img {
      width: 500px;
      height: 100%;
      max-width: 100%;
      border: 7px solid #fff;
      box-sizing: border-box;
    }